.color-box {
  $box-size: 200px;

  width: $box-size;
  height: $box-size;
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;

  transition: all 0.35s ease-in-out 0s;
  cursor: pointer;
}
